.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  max-width: 90%;
  margin-left: 3%;
}

.especie{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 300px;
  margin: 5%;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 2px rgb(97, 97, 97);
}

.especieImg{
  margin: 3%;
  width: 150px;
  height: 200px;
}

.especiesGeneral{
  display: flex;
  flex-wrap: wrap;
}

.especiesGeneral>* {
  flex: 1 1 160px;
}

.carruselImg{
  width: 1400px;
  height: 500px;
}